{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css"
}
