---
import Button from '../ui/Button.astro'
import { Icon } from 'astro-icon/components'
---

<section id="hero">
  <!-- Decoration Items -->
  <img src="/images/pattern-rings.svg" alt="" class="pattern-rings" />
  <img src="/images/pattern-circle.svg" alt="" class="pattern-circle" />

  <!-- Main Hero Content -->
  <div class="hero__container">
    <!-- Header section -->
    <header>
      <div class="logo">
        <h2 class="logo__text">techsolvd</h2>
      </div>
      <div class="icons">
        <a href="https://github.com/hbabb" target="_blank" aria-label="GitHub Icon Link" rel="noreferrer noopener">
          <Icon name="fa7-brands:github" size={24} />
        </a>
        <a
          href="https://linkedin.com/in/heath-babb"
          target="_blank"
          aria-label="LinkedIn Icon Link"
          rel="noreferrer noopener"
        >
          <Icon name="fa7-brands:square-linkedin" size={24} />
        </a>
        <a href="https://x.com/techsolvd" target="_blank" aria-label="Twitter Icon Link" rel="noreferrer noopener">
          <Icon name="fa7-brands:x-twitter" size={24} />
        </a>
        <a
          href="https://www.frontendmentor.io/profile/hbabb"
          target="_blank"
          aria-label="Frontend Mentor Icon Link"
          rel="noreferrer noopener"
        >
          <Icon name="simple-icons:frontendmentor" size={22} />
        </a>
        <a
          href="https://www.codewars.com/users/hbabb"
          target="_blank"
          aria-label="Frontend Mentor Icon Link"
          rel="noreferrer noopener"
        >
          <Icon name="cib:codewars" size={22} />
        </a>
      </div>
    </header>

    <div class="hero__content">
      <h1>
        Nice to meet you! <br />
        I'm <span>Heath Babb.</span>
      </h1>
      <p>Based in the US, I'm a full-stack developer passionate about building accessible web apps that users love.</p>
      <Button href="#contact">Contact Me</Button>
    </div>
    <div class="hero__image">
      <picture>
        <source media="(min-width: 1000px)" srcset="/images/portfolio_desktop.webp" />
        <source media="(min-width: 600px)" srcset="/images/portfolio_tablet.webp" />
        <img src="/images/portfolio_mobile.webp" alt="Heath Babb portfolio picture" />
      </picture>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;

    border: 1px dashed yellow;
  }
  .pattern-rings {
    position: absolute;
    width: 530px;
    height: 129px;
    top: 133px;
    left: -265px;
    pointer-events: none;
    user-select: none;
    z-index: 1;
  }

  .pattern-circle {
    position: absolute;
    top: 521px;
    right: 380px;
    pointer-events: none;
    user-select: none;
    z-index: 2;
  }

  .hero__container {
    max-width: 69.375rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 445px;
    grid-template-rows: min-content min-content;

    border: 1px solid red;
  }

  header {
    /* Container CSS */
    grid-column: 1 / -1;
    grid-row: 1;
    z-index: 3;

    /* Internal CSS */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin-top: 2.5rem;
    padding-bottom: 0.5rem;
    background: transparent;

    .icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;

      a {
        color: var(--clr-white);
        cursor: pointer;

        &:hover,
        &:focus-visible {
          color: var(--clr-green);
        }
      }
      .logo__text {
        font-family: var(--ff-logo);
        font-weight: var(--fw-logo);
        font-size: var(--fs-logo);
        line-height: var(--lh-logo);
        letter-spacing: var(--ls-logo);
      }
    }
  }

  .hero__content {
    grid-column: 1;
    grid-row: 2;
    margin-right: -3.125rem;
    margin-top: 7rem;
    z-index: 3;

    h1 {
      margin-bottom: 1.5rem;

      span {
        text-decoration: underline;
        text-decoration-color: var(--clr-green);
      }
    }

    p {
      margin-bottom: 4rem;
    }
  }

  .hero__image {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
  }
</style>
