---
import MainLayout from '@/layouts/MainLayout.astro'
import Button from '@/components/ui/Button.astro'
import Hero from '@/components/layout/Hero.astro'
---

<MainLayout title="Home">
  <Hero />
  <Button href="/about">About</Button>
</MainLayout>
