---
import MainLayout from '../layouts/MainLayout.astro'
import Button from '../components/ui/Button.astro'
---

<MainLayout title="Home">
  <h1>Hello from the Index</h1>
  <p>This is a body style</p>
  <Button href="/about">About Me</Button>
</MainLayout>
